.applications {
  margin-bottom: 100px;

  .approve-rules {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #646464;
  }
  .status {
    display: inline-block;
    height: 40px;
    text-align: center;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    width: 100%;
    padding: 10px;
    &.green {
      background: #84E574;
    }
    &.red {
      background: #E57474;
    }
  }
}

.application-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .application-number {
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #000000;
    background: #FAFAFA;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 5px 10px;
    height: 40px;

    flex-grow: 1;
    margin-bottom: 10px;
  }

  .status {
    flex-basis: 90px;
  }
}

@include desktop {
  .application-info {
    flex-wrap: nowrap
  }
}
