.button {
  display: inline-block;
  text-align: center;
  padding: 8px;
  background: linear-gradient(180deg, #DD89BC 0%, #F3A6D0 100%);
  border-radius: 5px;
  border: none;
  width: 100%;
  font-size: 24px;
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  margin-top: 10px;
  &.gray {
    color: #000000;
    background: #E4E4E4;
  }
  &.small {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    padding: 8px;
  }
  &.short {
    width: 69px;
  }

  &.green {
    background: #84E574;
    font-size: 18px;
    padding: 10px;
    text-decoration: underline;
  }

  &.height-fix {
    padding: 15px;
  }
}

.button-squared {
  background: #FFFFFF;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 15px;
  display: inline-block;

  font-size: 18px;
  line-height: 21px;
  text-decoration-line: underline;

  color: #267ED0;
  text-align: center;
  width: 100%;
}

.button-squared_black {
  color: #000000;
  text-decoration: none;
  font-size: 30px;

  background: #FAFAFA;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 2px;
}

.phone_image {
  display: inline-block;
  height: 22px;
  width: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='21' viewBox='0 0 23 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.15436 -0.000213231C4.18799 -0.00521864 4.22219 -0.00521864 4.25582 -0.000213231C4.6617 0.102647 5.36186 0.202188 5.53436 0.460997C5.65418 0.633079 5.75617 0.816488 5.83878 1.00848C6.24805 1.96076 6.64376 2.91968 7.04626 3.87196C7.23906 4.32985 7.43862 4.78775 7.64495 5.24232C7.70927 5.38987 7.74016 5.54936 7.73549 5.70977C7.73082 5.87017 7.69069 6.02767 7.61788 6.17138C7.44215 6.54033 7.21443 6.88324 6.94141 7.19002C6.65729 7.50192 6.37994 7.82045 6.09582 8.13235C5.99931 8.21252 5.92534 8.3156 5.88094 8.43176C5.83653 8.54793 5.82317 8.6733 5.84215 8.79596C5.87496 8.93456 5.92854 9.06762 6.00113 9.19081C6.36359 9.79994 6.76462 10.3862 7.20186 10.9461C8.60289 12.7573 10.4123 14.2257 12.4885 15.2363C12.9011 15.442 13.3341 15.6079 13.7636 15.7838C13.8099 15.8052 13.8573 15.824 13.9057 15.8402C14.0796 15.9095 14.2714 15.9231 14.4537 15.879C14.6359 15.8349 14.7993 15.7354 14.9204 15.5947C15.5495 14.8713 16.1854 14.1546 16.7435 13.3782C16.799 13.2843 16.8751 13.2036 16.9664 13.1422C17.0577 13.0808 17.1618 13.0401 17.2711 13.0232C17.4031 13.0101 17.5364 13.0225 17.6635 13.0597C18.3399 13.282 22.5036 15.2828 22.7066 15.4022C22.7945 15.4512 22.8677 15.5222 22.9188 15.6078C22.9698 15.6934 22.997 15.7908 22.9974 15.89C23.0253 16.3081 22.9934 16.7281 22.9027 17.1376C22.8419 17.4229 22.7607 17.705 22.6863 17.987C22.562 18.4333 22.3165 18.8381 21.976 19.1583C21.1232 19.9971 20.0493 20.5865 18.8744 20.8604C18.3053 20.977 17.723 21.0194 17.1426 20.9865C16.4165 20.9552 15.6983 20.8256 15.0083 20.6016C13.8565 20.2432 12.7271 19.8189 11.626 19.3308C9.75445 18.4543 8.03451 17.2956 6.52877 15.8966C4.96757 14.454 3.5621 12.8573 2.33465 11.1319C1.99474 10.6782 1.68084 10.2063 1.39436 9.71838C0.865122 8.83783 0.468641 7.88675 0.217292 6.89472C-0.188249 5.33928 0.0195249 3.69099 0.799067 2.2793C1.11781 1.73071 1.51409 1.22913 1.97612 0.789487C2.0751 0.686248 2.18013 0.588752 2.29068 0.497496C2.86471 0.193417 3.50241 0.0231128 4.15436 -0.000213231Z' fill='black'/%3E%3C/svg%3E%0A");
}

@include desktop {
  .button {
    font-size: 14px;
    
    &.mw123 {
      max-width: 123px;
    }
    &.mw200 {
      max-width: 200px;
    }
  }
}
