.input {
  display: block;
  width: 100%;
  margin-bottom: 18px;
  background: #FAFAFA;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #767676;
  padding: 12px;
}

.phone-input {
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 18px;
  &::after {
    content: "+7";
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    width: 44px;
    background: #ECECEC;
    position: absolute;
    font-size: 12px;
    line-height: 14px;
    color: #B7B7B7;
  }
  .input {
    padding-left: 50px;
    position: relative;
    margin-bottom: 0;
  }
}

.money-input {
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 18px;
  &::after {
    content: "₸";
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    width: 44px;
    background: #ECECEC;
    position: absolute;
    font-size: 18px;
    line-height: 14px;
    color: #B7B7B7;
  }
  .input {
    padding-right: 50px;
    position: relative;
    margin-bottom: 0;
  }
}

.file-upload-wrapper {
  $defaultColor: #ECECEC;
  position: relative;
  width: 100%;
  height: 38px;
  margin-bottom: 18px;
  border: 1px solid #ECECEC;
  border-radius: 2px;
  overflow: hidden;
  &:after {
    content: attr(data-text);
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #FAFAFA;
    ;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    line-height: 20px;
    color: rgba(119, 119, 119, 0.68);
    border-radius: 2px;
  }
  &:before {
    content: url("../images/camera.svg");
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    background: $defaultColor;
    color: #FAFAFA;
    ;
    font-weight: 700;
    z-index: 25;
    line-height: 44px;
    padding: 0 15px;
    pointer-events: none;
  }
  &:hover {
    &:before {
      background: darken($defaultColor, 10%);
    }
  }
  input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    border-radius: 2px;
  }

  &.success {
    &:before {
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNSAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgNi4wODY5Nkw1LjQ1NzE0IDEwTDE0IDEiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=");

      position: absolute;
      top: 3px;
      right: 3px;
      background: #84E674;;

      width: 30px;
      height: 30px;
      border-radius: 9px;

      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 5px;
    }

    input {
      display: none;
    }
  }
}
